@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");


:root {
    --color-black: #202020;
    --color-white: #ffffff;
    --color-yellow: #f7d046;
    --color-purple: #5b38e3;
    --color-grey: #d9d9d9;
    --font-jetbrains: "JetBrains Mono", monospace;
    --font-dm: "DM Serif Display", serif;
    --font-bungee: "Bungee Outline", cursive;
}

html {
    font-size: 18px;
    margin-left: 6rem;
    margin-right: 6rem;
    overflow-x: hidden;
}

body {
    background-color: var(--color-black);
    font-family: var(--font-jetbrains);
    line-height: 1.5;
    color: var(--color-white);
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 1.5rem;
    font-family: var(--font-jetbrains);

    z-index: 1;
}

nav a {
    color: var(--color-white);
    text-decoration: none;
}

nav a:hover {
    color: var(--color-yellow);
}

.logo {
    width: 3.5rem;
}

.menu {
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    /* spacing */
    margin: 1;
}

li {
    margin: 0.5rem;
    font-size: 1rem;
}