/* Make color palette */
:root {
    --color-black: #202020;
    --color-white: #FFFFFF;
    --color-yellow: #F7D046;
    --color-purple: #5B38E3;
    --color-grey: #D9D9D9;
    --font-jetbrains: 'JetBrains Mono', monospace;
    --font-dm: 'DM Serif Display', serif;
    --font-bungee: 'Bungee Outline';
}

html {
    font-size: 12px;
}

body {
    background-color: var(--color-black);
    font-family: var(--font-jetbrains);
    line-height: 1.5;
    color: var(--color-white);
}

/* CSS for Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-jetbrains);
}

logo {}


nav a {
    color: var(--color-white);
    text-decoration: none;
}

nav a:hover {
    color: var(--color-yellow);
}

ul {
    display: flex;
    list-style: none;
    /* spacing */
    margin: 1;
}

li {
    margin: 0.5rem;
    font-size: 1rem;
}
/* mainname css */
.mainheading {
    font-family: var(--font-jetbrains);
    font-size: 2.5rem;
    color: var(--color-white);
    margin: 0;
    padding: 0;
    text-transform: uppercase;

}
.mainname {
    font-family: var(--font-dm);
    font-size: 6rem;
    font-weight: 500;
    color: var(--color-white);
    margin: 0;
    padding: 0;
    /* set uppercase */
    text-transform: uppercase;
}

.maintext1 {
    font-family: var(--font-jetbrains);
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0;
    padding: 0;
}

.maintext2 {
    font-family: var(--font-jetbrains);
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

