
/* General CSS */
body{
    font-family: montserrat;
    font-size: 12px;
    background-color: #f2f2f2;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:80vh;
}




/* Header */
.header{
    justify-content: space-between;
    align-content: center;
    height: auto;
    width: 100%;
}

.logo{
    width: 32px;
    padding: 10px;
    align-items: baseline;
}

.logo-container{
    display: inline-block;
    align-items: baseline;
}

.menu-container{
    float: right;
    align-items: baseline;
}
.menu-item{
    display: inline;
    padding: 10px 5px 10px 5px;
    text-decoration: none !important; 
    color: #000
}



/* Body */
/* Section 1: Main-Text */
#main-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    justify-content: center;
}

.button {
    text-decoration: none;
    background-color: rgb(175, 203, 248);
    border-radius: 20px;
    border-style: none;
    align-items: baseline;
    font-size: 12px;
    padding: 8px;
}

.mainheading{
    font-size: 26px;
    text-align: left;
    margin: 10px;
}

.quality:hover{
    color: white !important;
    padding: 3px;
    border-radius: 5px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue !important;
}

.maintext{
    font-size: 12px;
    text-align: left;
    margin: 20px 10px 20px 10px;

}


/* Section 2: Recent Works */
#my-recent-works{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 10px;
}






/* Footnote */
footer{
    background-color: rgb(175, 203, 248);
    text-align: center;
    font-size: 12px;
}
.navlogo{
    width: 15px;
    padding: 1px;
    align-items: baseline;
    border-radius: 5px;
}
.footernote{
    text-align: center;
    font-size: 6px;
    padding: none !important;
}

.copyright{
    text-align: center;
    font-size: 5px;
    padding: none !important;
    font-style: italic;
}
