/**
* Author: Vinces
* Website: https://vinces.io
* v.0.1
*/
@import url("https://fonts.googleapis.com/css?family=BenchNine");

html,
body {
  margin: 0;
  padding: 0;
  font-family: BenchNine, sans-serif;
  overflow-x: hidden;
}

#input-group-hero {
	position: absolute;
	bottom: 5px;
	right: 12%;
	padding: 1rem;
	color: black;
  font-size:18px;
  z-index:999;
}

#input-group-hero > * {
  display: block;
}

#input-group-hero > * + * {
  margin-top: 0.5rem;
}

// Copy footer
/* .copy {
  margin: 15px;
  font-size: 14px;
  font-weight:bold;
  color: black;
  position: absolute;
	bottom: 0;
	left: 0%;
  z-index:999;
  a {
    color: #2980b9;
    text-decoration: none;
    font-size: 16px;
  }
} */